/* Global */
html {
  font-family: "Barlow", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

header, footer, .fit-center, .navigator, .posts {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

/* PC 화면에서는 2rem, 모바일 화면에서는 0.5rem */
@media (min-width: 1024px) {
  .caption {
    padding: 0 1.5rem;
  }

  .fit-center {
    padding: 2rem;
  }

  header {
    padding-top: 2rem;
  }

  footer {
    padding-bottom: 2rem;
  }

  .navigator, .posts {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .caption {
    padding: 0 1rem;
  }

  .fit-center {
    padding: 1.5rem;
  }

  header {
    margin: 1.5rem;
  }

  footer {
    margin: 1.5rem;
  }

  .navigator, .posts {
    padding: 0;
    margin: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  color: black;
}

a:hover {
  color: #3498db;
}

/* Global - Header */
header {
  padding-bottom: 0.5rem;
  border-bottom: 0.175rem solid #000000;
  margin-bottom: 2rem;
}

header h1 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-size: 20px;
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 26px;
  }
}

/* Global - Footer */
footer {
  padding-top: 1rem;
  border-top: 0.175rem solid #000000;
  margin-top: 2rem;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

li.post {
  list-style-type: none;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #eee;
  margin-bottom: 2rem;
}

li.post span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

li.post h1 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-size: 22px;
}

@media (min-width: 1024px) {
  li.post h1 {
    font-size: 33px;
  }
}

li.post p {
  margin: 0;
}

/* post.ejs - https://github.com/sindresorhus/github-markdown-css */
.markdown-body * {
  font-family: "Barlow", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

.navigator {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.navigator_button a {
  padding: 0.5rem 1rem;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-duration: .2s;
}

.navigator_button a:hover {
  border: 0.1rem solid #3498db;
  background-color: #3498db;
  color: #ffffff;
}

.max-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 auto;
}

.max-width img {
  object-fit: contain;
  padding-bottom: 1.5rem;
}

.max-width img:last-child {
  padding-bottom: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .gallery {
    flex-direction: row;
  }

  .gallery img {
    width: 48%;
    padding-right: 1.5rem;
  }
}

@media (max-width: 1023px) {
  .gallery {
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.gallery img {
  object-fit: contain;
}

.gallery img:last-child {
  padding-right: 0;
}

.caption {
  font-size: 1.05rem;
  color: #888;
  text-align: right;
  margin-top: 0;
  line-height: 1.5em;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Barlow", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}
