<!DOCTYPE html>

<html lang="ko" translate="no">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />

  <title>📷 YURUCAM</title>
</head>

<body bgcolor="#222" link="#adf" vlink="#adf" alink="#77f">
  <font color="#fff" size="4" face="Inter,system-ui,sans-serif">
    <table align="center" cellspacing="14">
      <thead>
        <tr>
          <td>
            <h1><a href="/">📷 YURUCAM</a></h1>
            <p>매일매일의 일상을 되돌아보고 싶을 때, 흥미 있는 무언가를 탐구해보았을 때,</p>
            <p>관심 가는 물건을 사용해 보았을 때, 어딘가로 훌쩍 다녀온 작은 기억을 남기고 싶을 때.</p>
            <p>기억에 남는, 기억에 남기고 싶은 그 무언가를 여기에 적어보곤 합니다.</p>
        </tr>
      </thead>

      <tbody>
        <td colspan="2">
          <!-- INDEX -->
        </td>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2" align="center">
            <p>
              <a href="mailto:help@yuru.cam">email</a> • <a href="https://github.com/yurucam/blog"
                target="_blank">github</a>
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
  </font>
</body>

</html>