<!DOCTYPE html>

<html lang="ko" translate="no">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />

  <title>느긋한 호흡</title>
</head>

<body bgcolor="#222" link="#adf" vlink="#adf" alink="#77f">
  <font color="#fff" size="4" face="Inter,system-ui,sans-serif">
    <table align="center" cellspacing="14">
      <thead>
        <tr>
          <td>
            <h1><a href="/">☕️ 느긋한 호흡</a></h1>
            <p>아저씨의 술과 음악, 사진, 캠핑, 여행 그리고 소소한 개발 이야기</p>
            <p>한순간의 경험과 감정을 평생토록 기억에 남기고 싶을때,</p>
            <p>사소한 것 하나하나까지 이곳에 기록하여 나라는 이야기를 만들고 있습니다.</p>
        </tr>
      </thead>

      <tbody>
        <td colspan="2">
          <!-- INDEX -->
        </td>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2" align="center">
            <p>
              <a href="mailto:help@yuru.cam">email</a> • <a href="https://github.com/yurucam/blog"
                target="_blank">github</a>
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
  </font>
</body>

</html>