<!DOCTYPE html>

<html lang="ko" translate="no">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />

  <title><!-- TITLE --></title>
</head>

<body bgcolor="#222" link="#adf" vlink="#adf" alink="#77f">
  <font color="#fff" size="4" face="Inter,system-ui,sans-serif">
    <table align="center" cellspacing="14">
      <thead>
        <tr>
          <td colspan="2" align="center">
            <h1><a href="/">📷 YURUCAM</a></h1>
          </td>
        </tr>
      </thead>

      <tbody>
        <td colspan="2" align="left">
          <!-- BODY -->
        </td>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2" align="center">
            <p>
              <a href="mailto:help@yuru.cam">email</a> • <a href="https://github.com/yurucam/blog"
                target="_blank">github</a>
            </p>
          </td>
        </tr>
      </tfoot>
    </table>
  </font>
</body>

</html>